/* #canvas, #canvas2{
    border: 1px solid;
    width: 500px;
    height: 400px;
} */
body{
    min-width: 640px;
}
#control-panel{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    position: fixed;
    justify-content: center;
}
.ico{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border: 1px solid;
    cursor: pointer;
}
.ico:hover{
    transform: scale(1.2);
}
.ico:hover::before {
    content: attr(data-title);
    position: absolute;
    left: 50px;
    width: 75px;
    text-align: center;
    z-index: 1;
    background: rgba(255,255,230,0.9);
    font-family: Arial, sans-serif;
    font-size: 11px;
    padding: 2px 2px;
    border: 1px solid #333;
   }
   
//    client\img\icon\attack.jpg
$imgpath: '../img/icon';
.ico__pick-card{background-image: url($imgpath + "/pick-card.jpg");}
.ico__hire-hero{background-image: url($imgpath + "/hire-hero.jpg");}
.ico__attack{background-image: url($imgpath + "/attack.jpg");}
.ico__body-remove{background-image: url($imgpath + "/remove-body.jpg");}
.ico__spell{background-image: url($imgpath + "/spell.jpg");}
.ico__special{background-image: url($imgpath + "/special.jpg");}
.ico__order{background-image: url($imgpath + "/order.jpg");}
.ico__remove-body{background-image: url($imgpath + "/remove-body.jpg");}
.ico__move{background-image: url($imgpath + "/move.jpg");}
.ico__castling{background-image: url($imgpath + "/castling.jpg");}
.ico__spell{background-image: url($imgpath + "/spell.jpg");}
.card-action{
    display: none;
    justify-content: space-around;
}
.card__action{
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    // position: relative;
    border: 1px solid purple;
    cursor: pointer;
}
.card.attack{

}
.card.move{

}
.body-remove{
    display: none;
}
.spell{
    display: none;
}
.firstplayer{
    background-image: url('../img/firstplayer.jpg');
}
.secondplayer{
    background-image: url('../img/secondplayer.jpg');
}
.hand{
    bottom: 0;
    position: fixed; 
    width: 100%;
    background-color: #e2f7f0;
}
#player-hand{
    display: flex;
    position: relative; 
    width: 600px;
    height: 110px;
    justify-content: space-around; 
    align-items: center;
    margin: 0 auto;   
}
.hand-card{
    width: 70px;
    height: 100px;
    background-color: green;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    position: relative;
    transition-duration: .2s;
    &:hover{
        opacity: 1;
        bottom: 10px;
        cursor: pointer;
    }
}

#player{
    flex-direction: column;
    display: flex;
    margin: 0 50px;
}
#enemy-player{
    flex-direction: column;
    display: flex;
    margin: 0 50px;
}
.user-field{
    display: flex;
    flex-direction: row;
}
.user-name{
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    height: 20px;
}

.game-table{
    width: 100%;
    display: flex;
    justify-content: center;
}
.rear, .flank, .vanguard{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.vanguard.wave--active{
    background-color: #ffbebe;
}
.flank.wave--active{
    background-color: #c0ffc0;
}
.rear.wave--active{
    background-color: #7a7aff;
}
.card-holder{
    position: relative;
    width: 50px;
    height: 70px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    // width: 50px;
    // height: 70px;
    // box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    // border: 1px solid;
    // margin: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &_posable-target{
        // border: 5px solid ;
        -webkit-box-shadow: 0px 0px 0px 5px #00ff00 inset;
        -moz-box-shadow: 0px 0px 0px 5px #00ff00 inset;
        box-shadow: 0px 0px 0px 5px #00ff00 inset;
    }
}
#card-info{
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 265px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

}
.card-wave{
    width: 50px;
    height: 70px;
    margin: 10px;
    background-color: beige;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.img-card-modal{
    /* background-image: url('./img/img-2-2_09.jpg'); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
    transition: all 0.1s;
}

.rotate-card{
    transform: rotate(180deg);
}
.md-content{
    position: relative;
}
.btn-hire{
    border: 1px solid;
    width: 60px;
    position: absolute;
    left: 100%;
    top: 0;
    height: 30px;
    opacity: 1;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

// .rear__l, .rear__m, .rear__r, 
// .flank__l, .flank__r,
// .vanguard__l, .vanguard__m, .vanguard__r{ 
//     font-size: inherit;
// }

.flank__m{
    // transform: rotate(180deg);
    background-color: bisque;
}
.btn-ready{
    width: 200px;
    height: 60px;
    background-color: chartreuse;
    cursor: pointer;
}
.characteristic{
    display: none;
    align-items: end;
    justify-content: flex-end;
    width: 100%;
    font-size: 14px;
    & div{
        background-color: aqua;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        text-align: center;
    }
    // &__defence{}
}

@keyframes flashMsg-1{
    0% { background-color: #ffa500; font-size: 1.5em;}            
    100% { background-color: #ffffff; font-size: 1em}            
}

#messageBoard, #infoBoard{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
.flash--active{
    animation: flashMsg-1 0.4s linear;
}


#infoBoard{
    margin-bottom: 100px;
}
.characteristic__attack{
    color: red;
}
.characteristic__defence{
    color: blue;
}
.card-info__name{
    line-height: 27px;
}
.card-info__atk{
    font-size: 1.5em;
    font-weight: bold;
    color: red;
}
.card-info__def{
    font-size: 1.5em;
    font-weight: bold;
    color: blue;

}
.card-info__vanguard{
    color: red;
    opacity: 0.2;
}
.card-info__flank{
    color: green;
    opacity: 0.2;
}
.card-info__rear{
    color: blue;
    opacity: 0.2;
}
.card-info__special{
    color: purple;
    opacity: 0.2;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    &__show{
        display: flex;
    }
}
.card-review{
    // width: 200px;
    // height: 300px;
    // background-color: #ffffff;
    display: flex;
    position: relative;
    margin: auto;
    padding: 0;

    animation-name: animatetop;
    animation-duration: 0.4s
}
.review-action{
    margin-left: 10px;
}
.review-img{
    width: 350px;
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.action{
    background-color: #ffffff;
    line-height: 30px;
    height: 30px;
    width: 60px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    display: none;

    transition: 0.4s;
    &__hire{
        color: orange;
        &:hover{
            transform: scale(1.2);
            background-color: orange;
            color: black;
        }
    }
    &__hireLeader{
        width: 100px;
        color: rgb(255, 0, 0);
        &:hover{
            transform: scale(1.2);
            background-color: rgb(255, 0, 0);
            color: black;
        }
    }
    &__order{
        color: purple;
        &:hover{
            transform: scale(1.2);
            background-color: purple;
            color: black;
        }
    }

    &:hover{
        cursor: pointer;
    }
}

.--rotate{
    transform: rotate(180deg);
}
.--show{
    display: block;
}

.blood-token{
    display: none;
}
.token{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: yellow;
    line-height: 30px;
    text-align: center;
    background-color: red;
}